body {
	background-color: lightgray;
}

.text-container {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

.text-box {
	background-color: white;
	border: 1px solid gray;
	padding: 20px;
}

h3 {
	border-bottom: 1px solid gray;
	padding: 10px;
}

.text-edit {
	padding: 20px 10px;
}

.text-form {
	display:none;
	padding: 20px 10px;
}

.has-hover {
	background-color:lightyellow;
	color:gray;
	opacity:70%;
}
